:root {
  --dark-gray: #353744;
  --light-gray: #666666;
  --light-green: #57BA86;
  --dark-green: #00AB44;
  --rails-red: #D30001;
  --angular-red: #DD0031;
  --svelte-orange: #FF3E00;
  --css-blue: #2965F1;
  --heroku-purple: #634987;
  --aws-orange: #EC912D;
  --react-blue: #149ECA;
  --docker-blue: #1D63ED;
  --vue-green: #3FB27F;
  --js-yellow: #EFD81D;
  --redis-red: #B52922;
  --python-yellow: #FFE56B;
  --graphql-pink: #F6009B;
  --java-red: #EA3032;
  --perl-blue: #004065;
  --linux-black: #2e2e30;
}

/* Badges */
i.ruby {
  color: var(--rails-red);
}

i.angular {
  color: var(--angular-red);
}

i.svelte {
  color: var(--svelte-orange);
}

i.css {
  color: var(--css-blue);
}

i.heroku {
  color: var(--heroku-purple);
}

i.aws {
  color: var(--aws-orange);
}

i.react {
  color: var(--react-blue);
}

i.docker {
  color: var(--react-blue);
}

i.vue {
  color: var(--vue-green);
}

i.js {
  color: var(--js-yellow);
}

i.redis {
  color: var(--redis-red);
}

i.python {
  color: var(--python-yellow);
}

i.graphql {
  color: var(--graphql-pink);
}

i.java {
  color: var(--java-red);
}

i.perl {
  color: var(--perl-blue);
}

button.control {
  background-color: white;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
  padding: .5rem;
  margin-bottom: 1rem;
}

body {
  font-family: 'Raleway';
  margin: .75rem;
}

header {
  padding-top: .25rem;
  padding-left: .25rem;
}

header h1 {
  margin: 0;
  margin-bottom: .25rem;
  color: var(--dark-gray);
  font-size: 2.25rem;
  font-weight: 500;
}

header h2 {
  margin: 0;
  margin-bottom: .5rem;
  color: var(--light-green);
  font-size: 1.75rem;
  font-weight: 500;
}

header ul {
  margin: 0;
  padding: 0;
  color: var(--light-gray);
}

header ul li {
  list-style: none;
  margin-bottom: .25rem;
}

header ul li i {
  margin-right: .5rem;
}

header ul li a {
  color: var(--dark-gray);
  text-decoration: none;
  font-weight: 500;
}

hr {
  margin: 0;
  margin-top: 1.5rem;
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

main section article {
  margin-bottom: 1.5rem;
}

main section h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-green);
}

main section article h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: .25rem;
}

main section article h3 a {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px dotted var(--dark-gray);
}

main section h3 span i {
  margin: 0;
}

main section#experience h3 span.defunct i {
  margin-left: .75rem;
  margin-right: .25rem;
}

main section#experience article h4 {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: var(--dark-gray);
  margin: 0;
  margin-bottom: .25rem;
}

main section#experience article h4 span {
  margin-left: 1rem;
}

main section#experience article span {
  font-size: 1rem;
  color: var(--light-gray);
}

main section#experience article span i {
  margin-right: .5rem;
}

main section#experience article ul:first-of-type {
  margin-top: .75rem;
}

main section#experience article ul {
  margin: 0;
  padding-right: 2rem;
  list-style: symbols(cyclic "♪" "♫" "♩" "♬");
}

main section#experience article ul li {
  text-align: justify;
  line-height: 1.25rem;
  margin-bottom: .5rem;
  padding-left: .25rem;
}

main section#experience article ul li::marker {
  color: var(--light-gray);
}

section#skills ul {
  list-style: none;
}

section#skills ul li {
  margin-bottom: .5rem;
}

.progress-bar {
  margin-top: .25rem;
  width: 80%;
}

.progress {
  height: .25rem;
}

section#skills #ruby-progress {
  border: 1px solid var(--rails-red);
}

section#skills #ruby-progress .progress {
  background-color: var(--rails-red);
  width: 100%;
}

section#skills #js-progress {
  border: 1px solid var(--js-yellow);
}

section#skills #js-progress .progress {
  background-color: var(--js-yellow);
  width: 70%;
}

section#skills #css-progress {
  border: 1px solid var(--css-blue);
}

section#skills #css-progress .progress {
  background-color: var(--css-blue);
  width: 75%;
}

section#skills #angular-progress {
  border: 1px solid var(--angular-red);
}

section#skills #angular-progress .progress {
  background-color: var(--angular-red);
  width: 70%;
}

section#skills #react-progress {
  border: 1px solid var(--react-blue);
}

section#skills #react-progress .progress {
  background-color: var(--react-blue);
  width: 65%;
}

section#skills #vue-progress {
  border: 1px solid var(--vue-green);
}

section#skills #vue-progress .progress {
  background-color: var(--vue-green);
  width: 30%;
}

section#skills #svelte-progress {
  border: 1px solid var(--svelte-orange);
}

section#skills #svelte-progress .progress {
  background-color: var(--svelte-orange);
  width: 35%;
}

section#skills #python-progress {
  border: 1px solid var(--python-yellow);
}

section#skills #python-progress .progress {
  background-color: var(--python-yellow);
  width: 55%;
}

section#skills #heroku-progress {
  border: 1px solid var(--heroku-purple);
}

section#skills #heroku-progress .progress {
  background-color: var(--heroku-purple);
  width: 85%;
}

section#skills #linux-progress {
  border: 1px solid var(--linux-black);
}

section#skills #linux-progress .progress {
  background-color: var(--linux-black);
  width: 95%;
}

section#skills #docker-progress {
  border: 1px solid var(--docker-blue);
}

section#skills #docker-progress .progress {
  background-color: var(--docker-blue);
  width: 75%;
}

section#skills #aws-progress {
  border: 1px solid var(--aws-orange);
}

section#skills #aws-progress .progress {
  background-color: var(--aws-orange);
  width: 45%;
}

section#skills #redis-progress {
  border: 1px solid var(--redis-red);
}

section#skills #redis-progress .progress {
  background-color: var(--redis-red);
  width: 95%;
}

section#skills #graphql-progress {
  border: 1px solid var(--graphql-pink);
}

section#skills #graphql-progress .progress {
  background-color: var(--graphql-pink);
  width: 35%;
}

section#skills #java-progress {
  border: 1px solid var(--java-red);
}

section#skills #java-progress .progress {
  background-color: var(--java-red);
  width: 15%;
}

section#skills #perl-progress {
  border: 1px solid var(--perl-blue);
}

section#skills #perl-progress .progress {
  background-color: var(--perl-blue);
  width: 20%;
}

@media(min-width: 40rem) {
  header {
    width: 70%;
    margin: 0 auto;
    padding-top: .75rem;
  }

  header h1 {
    margin-bottom: .5rem;
    font-size: 2.5rem;
  }

  header h2 {
    margin-bottom: 1.25rem;
    font-size: 2rem;
  }

  header ul li {
    margin-bottom: .25rem;
    font-size: 1.05rem;
  }

  hr {
    width: 70%;
    margin: 1.5rem auto 0;
  }

  main {
    width: 70%;
    margin: 0 auto;
  }
}

@media print {
  .control {
    display: none;
  }

  header {
    width: 90%;
  }

  hr {
    width: 90%;
  }

  main {
    width: 90%;
  }
}

@page {
  size: auto;
  margin: 2mm;
}
