:root {
  --dark-gray: #353744;
  --light-gray: #666666;
  --light-green: #57BA86;
  --dark-green: #00AB44;
  --rails-red: #D30001;
  --angular-red: #DD0031;
  --css-blue: #2965F1;
  --heroku-purple: #634987;
  --aws-orange: #EC912D;
  --react-blue: #149ECA;
  --docker-blue: #1D63ED;
  --vue-green: #3FB27F;
  --js-yellow: #EFD81D;
  --redis-red: #B52922;
  --python-yellow: #FFE56B;
  --graphql-pink: #F6009B
}

/* Badges */
span i.ruby {
  color: var(--rails-red);
}

span i.angular {
  color: var(--angular-red);
}

span i.css {
  color: var(--css-blue);
}

span i.heroku {
  color: var(--heroku-purple);
}

span i.aws {
  color: var(--aws-orange);
}

span i.react {
  color: var(--react-blue);
}

span i.docker {
  color: var(--react-blue);
}

span i.vue {
  color: var(--vue-green);
}

span i.js {
  color: var(--js-yellow);
}

span i.redis {
  color: var(--redis-red);
}

span i.python {
  color: var(--python-yellow);
}

span i.graphql {
  color: var(--graphql-pink);
}

button.control {
  background-color: white;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
  padding: .5rem;
  margin-bottom: 1rem;
}

body {
  font-family: 'Raleway';
}

header {
  padding-top: .25rem;
  padding-left: .25rem;
}

header h1 {
  margin: 0;
  margin-bottom: .25rem;
  color: var(--dark-gray);
  font-size: 2.25rem;
  font-weight: 500;
}

header h2 {
  margin: 0;
  margin-bottom: .5rem;
  color: var(--light-green);
  font-size: 1.75rem;
  font-weight: 500;
}

header ul {
  margin: 0;
  padding: 0;
  color: var(--light-gray);
}

header ul li {
  list-style: none;
  margin-bottom: .25rem;
}

header ul li i {
  margin-right: .5rem;
}

header ul li a {
  color: var(--dark-gray);
  text-decoration: none;
  font-weight: 500;
}

hr {
  margin: 0;
  margin-top: 1.5rem;
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}

hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

main section article {
  margin-bottom: 1.5rem;
}

main section h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-green);
}

main section article h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: .25rem;
}

main section article h3 a {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px dotted var(--dark-gray);
}

main section h3 span i {
  margin: 0;
}

main section h3 span.defunct i {
  margin-left: .75rem;
  margin-right: .25rem;
}

main section article h4 {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  color: var(--dark-gray);
  margin: 0;
  margin-bottom: .25rem;
}

main section article h4 span {
  margin-left: 1rem;
}

main section article span {
  font-size: 1rem;
  color: var(--light-gray);
}

main section article span i {
  margin-right: .5rem;
}

main section article ul:first-of-type {
  margin-top: .75rem;
}

main section article ul {
  margin: 0;
  padding-right: 2rem;
  list-style: symbols(cyclic "♪" "♫" "♩" "♬");
}

main section article ul li {
  text-align: justify;
  line-height: 1.25rem;
  margin-bottom: .5rem;
  padding-left: .25rem;
}

main section article ul li::marker {
  color: var(--light-gray);
}

@media(min-width: 40rem) {
  header {
    width: 70%;
    margin: 0 auto;
    padding-top: .75rem;
  }

  header h1 {
    margin-bottom: .5rem;
    font-size: 2.5rem;
  }

  header h2 {
    margin-bottom: 1.25rem;
    font-size: 2rem;
  }

  header ul li {
    margin-bottom: .25rem;
    font-size: 1.05rem;
  }

  hr {
    width: 70%;
    margin: 1.5rem auto;
  }

  main {
    width: 70%;
    margin: 0 auto;
  }
}
